$blue50: #f5fbff;
$blue100: #b3ddff;
$blue200: #80c6ff;
$blue300: #4dafff;
$blue400: #269dff;
$blue500: #008cff;
$blue600: #0084ff;
$blue700: #0c2a9b; // primary
$blue800: #006fff;
$blue900: #005cff;
$yellow100: #fff2ca;
$yellow200: #ffeaa6;
$yellow300: #ffe182;
$yellow400: #ffda68;
$yellow500: #ffd44d;
$yellow600: #ffcf46;
$yellow700: #ffc93d;
$yellow800: #ffc334;
$yellow900alert: #ffb925;
$green100: #b4f0dd;
$green200: #82e6c6;
$green300: #50dcaf;
$green400: #2bd59e;
$green500: #05cd8d;
$green600: #04c885;
$green700positive: #01c27b;
$green800: #03ba70;
$green900: #01ae5d;
$white: #ffffff;
$grey100: #f5f7f8;
$grey200: #cfd8dc;
$grey300: #b0bac5;
$grey400: #8091a5;
$grey500: #667587;
$grey600: #3f4a56;
$grey700: #253137;
$black: #16181e;
$black3: #333;
$negative: #e34c4c;
$black54: #0000008a;
$brown: #8d4e32;

:export {
  blue50: $blue50;
  blue100: $blue100;
  blue200: $blue200;
  blue300: $blue300;
  blue400: $blue400;
  blue500: $blue500;
  blue600: $blue600;
  blue700: $blue700; // primary
  blue800: $blue800;
  blue900: $blue900;
  yellow100: $yellow100;
  yellow200: $yellow200;
  white: $white;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  black: $black;
  black3: $black3;
  negative: $negative;
  black54: $black54;
  brown: $brown;
};